@import '~node_modules/modern-normalize/modern-normalize.css';

// -----------------------------------
// * {
//   overscroll-behavior: none;
// }

// ::-webkit-scrollbar {
//   height: 6px;
// }

// ::-webkit-scrollbar-track {
//   border-radius: 56px;
//   opacity: 0.4;
//   background: #434F70;
//   width: 56px;
// }

// ::-webkit-scrollbar-thumb {
//   width: 61px;
//   border-radius: 100px;
//   background: #6073A1;
// }


// ----------------------------------------

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--white-base-color);
}

ul,
ol,
li,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}


button {
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  // line-height: calc(lh / fs);
  font-feature-settings: 'case' on, 'ss04' on;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--lite-text-color);

  // -------------------
}