:root {
  --primary-font: 'GWENT';
  --secondary-font: 'Sofia Sans', sans-serif;

  --white-base-color: #C4C7C7;
  --dark-gray-color: #191C1D;
  --black-background-color: #101415;

  --accent-text-color: #E9C400;
}