<section class="about-company">
  <div class="about-company__container container">

    <div class="about-company__content">
      <h2 class="about-company__title">О компании</h2>
      <p class="about-company__text">
        Мы опытная команда, для которой трейдинг – профессия. TradeBlade является авторизованным официальным брокером
        биржи Binance.
      </p>
      <p class="about-company__text">
        Он представляет пользователям множество преимуществ, таких как более високая скорость синхронизации API и
        возможность создать учетную запись Binance через платформу TradeBlade всего в 1 клик.
      </p>
    </div>

    <div class="about-company__wrap-form">
      <h3 class="about-company__form-title">
        Попробуйте сейчас и получите <br>
        5 дней бесплатного пользования
      </h3>
      <form class="about-company__form">
        <input type="email" class="about-company__input-form" placeholder="Ваш e–mail" name="useremail" id="email"
          required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <button type="submit" class="about-company__btn-form">попробовать</button>
      </form>
    </div>

  </div>
</section>