<footer class="footer">
  <div class="footer__container container">

    <div class="footer__content">
      <h3 class="content__title">Быстрая
        навигация</h3>

      <ul class="content__list">
        <li class="content__item">
          <a href="#" class="content__link">Цифры</a>
        </li>
        <li class="content__item">
          <a href="#" class="content__link">Сделки онлайн</a>
        </li>
        <li class="content__item">
          <a href="#" class="content__link">о компании</a>
        </li>
        <li class="content__item">
          <a href="#" class="content__link">tradeblad это</a>
        </li>
        <li class="content__item">
          <a href="#" class="content__link">как начать</a>
        </li>
        <li class="content__item">
          <a href="#" class="content__link">тарифы</a>
        </li>
        <li class="content__item">
          <a href="#" class="content__link">FAQ</a>
        </li>
      </ul>

    </div>


    <div class="footer__bottom">
      <img class="footer__logo" src="./images/logo/logo-desk.svg" alt="footer-logo">

      <p class="footer__bottom-text">© 2022 TradeBlade. All rights reserved</p>
    </div>

  </div>
</footer>