<header class="header">
  <div class="header__container container">

    <a href="/" class="logo__link logo">
      <img class="logo__img" src="./images/logo/logo-desk.svg" alt="logo">
    </a>

    <nav class="header__menu">
      <ul class="menu__list">
        <li class="menu__item"><a href="#" class="menu__link active">Цифры</a></li>
        <li class="menu__item"><a href="#" class="menu__link">Сделки онлайн</a></li>
        <li class="menu__item"><a href="#" class="menu__link">о компании</a></li>
        <li class="menu__item"><a href="#" class="menu__link active">как начать</a></li>
        <li class="menu__item"><a href="#" class="menu__link">тарифы</a></li>
        <li class="menu__item"><a href="#" class="menu__link">отзывы</a></li>
        <li class="menu__item"><a href="#" class="menu__link">FAQ</a></li>
      </ul>
    </nav>

    <div class="header__btn-registration registration-btn">
      <button type="button" class="registration-btn__sign-up">вход</button>
      <button type="button" class="registration-btn__log-out">регистрация</button>
    </div>

    <!-- MobMenu -->

    <button class="mob-menu__btn mob-menu__btn_open" data-menu-open>
      <img class="mob-menu__icon" src="./images/icon/icon-burger.svg" alt="">
    </button>

    <div class="mob-menu_container">
      <div class="mob-menu mob-menu_flex is-hidden" data-menu>
        <div>

          <button class="mob-menu__btn mob-menu__btn_close" data-menu-close>
            <img src="./images/icon/icon-cross.svg" class="mob-menu__icon mob-menu__icon_cross">
          </button>

          <div class="mob-menu-list__wrapper">
            <ul class="mob-menu-list list">
              <li class="mob-menu-list__item">
                <a class="mob-menu-list__link active" href=#">Цифры</a>
              </li>
              <li class="mob-menu-list__item">
                <a class="mob-menu-list__link" href="#">Сделки онлайн</a>
              </li>
              <li class="mob-menu-list__item">
                <a class="mob-menu-list__link" href="#">о компании</a>
              </li>
              <li class="mob-menu-list__item">
                <a class="mob-menu-list__link active" href=#">как начать</a>
              </li>
              <li class="mob-menu-list__item">
                <a class="mob-menu-list__link" href="#">тарифы</a>
              </li>
              <li class="mob-menu-list__item">
                <a class="mob-menu-list__link" href="#">отзывы</a>
              </li>
              <li class="mob-menu-list__item">
                <a class="mob-menu-list__link" href="#">FAQ</a>
              </li>
            </ul>

            <div class="mob-menu-btn__down down-btn">
              <button class="down-btn__log-out">регистрация</button>
              <button class="down-btn__sign-up">Войти</button>
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</header>