<section class="hero">
  <div class="hero__container container">

    <div class="short-box">

      <div class="short-box__content-top content-top">
        <p class="content-top__crip">ETH/USDT</p>
        <p class="content-top__short">Short</p>
      </div>

      <div class="short-box__content-bottom">
        <p>+141%</p>
      </div>


      <div class="box-short__after">
        <div class="content-top_after">
          <p class="content-top__crip_after">ETH/USDT</p>
          <p class="content-top__short_after">Short</p>
        </div>

        <div class="short-box__content-bottom_after">
          <p>+116%</p>
        </div>
      </div>

    </div>

  </div>
</section>