<section class="hero">
  <div class="hero__container container">

    <div class="short-box">
      <div class="short-box__content-top content-top">
        <p class="content-top__crip">ETH/USDT</p>
        <p class="content-top__short">Short</p>
      </div>

      <div class="short-box__content-bottom">
        <p>+141%</p>
      </div>

      <div class="box-short__after">
        <div class="content-top_after">
          <p class="content-top__crip_after">ETH/USDT</p>
          <p class="content-top__short_after">Short</p>
        </div>

        <div class="short-box__content-bottom_after">
          <p>+116%</p>
        </div>
      </div>
    </div>

    <!-- --hero-main__content--- -->

    <div class="hero-main__content main-content">
      <h1 class="main-content__title">моментально Копируй сделки профи трейдеров</h1>

      <p class="main-content__text">
        Начни копировать сделки с успешной командой профессиональных трейдеров в автоматическом режиме.
      </p>

      <div class="hero__input-wrapper wrapper-input">
        <input type="email" class="hero__input" placeholder="Ваш e–mail">
        <button class="wrapper-input__btn">начать</button>
      </div>

      <p class="main-content__sub-text">5 дней бесплатного пользования</p>
    </div>

  </div>
</section>