<section class="deals">
  <div class="deals__container container">

    <h2 class="deals__title">Прошедшие сделки</h2>
    <p class="deals__online">Онлайн</p>

    <ul class="deals__card-list">

      <li class="deals__card-item card-item">
        <div class="card-item__content-top content-top">
          <p class="content-top__sup-text">NEAR/USDT</p>
          <p class="content-top__sub-text">SPOT · <span>1 мин. назад</span></p>
        </div>

        <div class="card-item__content-medium content-medium">
          <p class="content-medium__sup-text">Прибыль</p>
          <p class="content-medium__sub-text">58.6206% <span><img src="./images/icon/icon-arrow-up.svg"
                alt="arrow-up"></span>
          </p>
        </div>

        <div class="card-item__content-bottom content-bottom">
          <p class="content-bottom__sup-text">Цель 4</p>
          <p class="content-bottom__sub-text">Дата входа 06.10.2022</p>
        </div>

      </li>

      <li class="deals__card-item card-item">
        <div class="card-item__content-top content-top">
          <p class="content-top__sup-text">BTC/USDT</p>
          <p class="content-top__sub-text">SPOT · <span>1 мин. назад</span></p>
        </div>

        <div class="card-item__content-medium content-medium">
          <p class="content-medium__sup-text">Прибыль</p>
          <p class="content-medium__sub-text">6.02%%<span><img src="./images/icon/icon-arrow-up.svg"
                alt="arrow-up"></span>
          </p>
        </div>

        <div class="card-item__content-bottom content-bottom">
          <p class="content-bottom__sup-text">Цель 3</p>
          <p class="content-bottom__sub-text">Дата входа 06.10.2022</p>
        </div>

      </li>

      <li class="deals__card-item card-item">
        <div class="card-item__content-top content-top">
          <p class="content-top__sup-text">ETH/USDT</p>
          <p class="content-top__sub-text">SPOT · <span>1 мин. назад</span></p>
        </div>

        <div class="card-item__content-medium content-medium">
          <p class="content-medium__sup-text">Прибыль</p>
          <p class="content-medium__sub-text">16.3%<span><img src="./images/icon/icon-arrow-up.svg"
                alt="arrow-up"></span>
          </p>
        </div>

        <div class="card-item__content-bottom content-bottom">
          <p class="content-bottom__sup-text">Цель 4</p>
          <p class="content-bottom__sub-text">Дата входа 06.10.2022</p>
        </div>

      </li>

      <li class="deals__card-item card-item">
        <div class="card-item__content-top content-top">
          <p class="content-top__sup-text">NEAR/USDT</p>
          <p class="content-top__sub-text">SPOT · <span>1 мин. назад</span></p>
        </div>

        <div class="card-item__content-medium content-medium">
          <p class="content-medium__sup-text">Прибыль</p>
          <p class="content-medium__sub-text">0.963%<span><img src="./images/icon/icon-arrow-up.svg"
                alt="arrow-up"></span>
          </p>
        </div>

        <div class="card-item__content-bottom content-bottom">
          <p class="content-bottom__sup-text">Цель 4</p>
          <p class="content-bottom__sub-text">Дата входа 06.10.2022</p>
        </div>

      </li>

      <li class="deals__card-item card-item">
        <div class="card-item__content-top content-top">
          <p class="content-top__sup-text">NEAR/USDT</p>
          <p class="content-top__sub-text">SPOT · <span>1 мин. назад</span></p>
        </div>

        <div class="card-item__content-medium content-medium">
          <p class="content-medium__sup-text">Прибыль</p>
          <p class="content-medium__sub-text">58.6206% <span><img src="./images/icon/icon-arrow-up.svg"
                alt="arrow-up"></span>
          </p>
        </div>

        <div class="card-item__content-bottom content-bottom">
          <p class="content-bottom__sup-text">Цель 4</p>
          <p class="content-bottom__sub-text">Дата входа 06.10.2022</p>
        </div>

      </li>

    </ul>

  </div>
</section>