<section class="numbers">
  <div class="numbers__container container">

    <div class="title__box">
      <h2 class="numbers__title">Цифры</h2>
      <p class="numbers__sub-title">Cентябрь 2022</p>
    </div>

    <div class="numbers-profit__wrapper profit">
      <div class="profit_left">
        <div>
          <p class="profit__title">Торговой прибыли</p>
          <p class="profit__value">2756%</p>
        </div>
        <div>
          <p class="profit__title">фьючерсных
            и спотовых сделок</p>
          <p class="profit__value">67</p>
        </div>
      </div>

      <div class="profit_right">
        <p class="profit__title">прибыль
          подписчиков</p>
        <p class="profit__value">375000</p>
      </div>
    </div>
  </div>

  </div>
</section>