<section class="tariffs">
  <div class="tariffs__container container">
    <h2 class="tariffs__title">Тарифы</h2>

    <div class="tariffs__btn-box js-tariffs-btn-box">
      <button type="button" class="tariffs__btn js-btn-prev tariffs__btn--active">СПОТ</button>
      <button type="button" class="tariffs__btn js-btn-next">фьючерс</button>
    </div>

    <div class="tariffs__card-box tariffs-card">

      <div class="tariffs-card__wrap">

        <h3 class="tariffs-card__title">STANDART</h3>

        <ul class="tariffs-card__list">
          <li class="tariffs-card__item">
            <p class="tariffs-card__text">Ручной трейдинг</p>
          </li>
          <li class="tariffs-card__item">
            <p class="tariffs-card__text">Автоматическое или полуавтоматическое копирование сделок</p>
          </li>
          <li class="tariffs-card__item">
            <p class="tariffs-card__text">Личный кабинет со статистикой</p>
          </li>
          <li class="tariffs-card__item">
            <p class="tariffs-card__text">Среднесрочные сделки с уровнями набора портфеля</p>
          </li>
        </ul>

        <div class="tariffs-card__price">
          <p>$234<span>-35%</span></p>
          <div>
            <p>12 месяцев<span>&#8744;</span></p>
          </div>
        </div>

        <button>
          <p>Попробовать</p>
          <p>5 дней бесплатно</p>
        </button>

      </div>


    </div>

  </div>
</section>