.hero {
  padding-top: 40px;
  padding-bottom: 61px;
  background-color: var(--black-background-color);
  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 67% 100%, 61% 96%, 0 96%, 0 0);

  @media (min-width: 768px) {
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 40% 100%, 36% 92%, 0 92%, 0 0);
  }

  @media (min-width: 1440px) {
    padding-top: 160px;
    padding-bottom: 194px;
  }
}

.hero__container {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
  }

  @media (min-width: 1440px) {
    column-gap: 128px;
  }
}

.short-box {
  position: relative;
  padding: 6px 10px;
  margin-bottom: 63px;
  width: 176px;

  border-radius: 4px;
  border: 2px dashed #6A54FF;
  opacity: 0.7;


  &::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 174px;

    height: 1px;
    width: 33px;

    background-color: #6A54FF;

    transform: rotate(45deg);

    @media (min-width: 1440px) {
      top: 33px;
      left: 332px;

      height: 1px;
      width: 60px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -16px;
    left: 93px;

    height: 1px;
    width: 33px;

    background-color: #6A54FF;

    transform: rotate(45deg);


    @media (min-width: 1440px) {
      bottom: -32px;
      left: 179px;

      height: 1px;
      width: 60px;
    }
  }

  @media (min-width: 768px) {
    order: 1;
    align-self: self-start;
  }

  @media (min-width: 1440px) {
    width: 330px;
    padding: 16px 20px;

    border-radius: 10px;
    border: 2px dashed #6A54FF;
    opacity: 0.7;
  }
}

.content-top {
  margin-bottom: 20px;

  color: #6A54FF;

  &__crip {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.8px;
    text-transform: uppercase;

    @media (min-width: 1440px) {
      font-size: 40px;
      line-height: 140%;
      letter-spacing: 1px;
    }

    &_after {
      font-size: 20px;
      line-height: 140%;
      letter-spacing: -0.8px;
      text-transform: uppercase;

      @media (min-width: 1440px) {
        font-size: 40px;
        line-height: 140%;
        letter-spacing: 1px;
      }
    }
  }

  &__short {
    font-size: 13px;
    font-weight: 400;
    line-height: 123.077%;

    opacity: 0.6;

    @media (min-width: 1440px) {
      font-size: 28px;
      margin-bottom: 40px;
      opacity: 1;
    }

    &_after {
      font-size: 13px;

      font-weight: 400;
      line-height: 123.077%;

      opacity: 0.6;

      @media (min-width: 1440px) {
        font-size: 28px;
        margin-bottom: 40px;
        opacity: 1;
      }
    }
  }
}

.short-box__content-bottom>p {
  color: #6A54FF;
  font-size: 20px;

  line-height: 140%;
  letter-spacing: -0.8px;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    font-size: 35px;
  }
}

.box-short__after {
  position: absolute;
  top: 30px;
  left: 124px;
  background-color: #6A54FF;
  border-radius: 4px;

  padding: 6px 10px;
  width: 176px;

  @media (min-width: 1440px) {
    width: 330px;
    padding: 16px 20px;

    border-radius: 10px;

    top: 67px;
    left: 240px;
  }
}

.content-top_after {
  margin-bottom: 20px;
}

.short-box__content-bottom_after>p {
  font-size: 20px;

  line-height: 140%;
  letter-spacing: -0.8px;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    font-size: 35px;
  }
}

// ----hero-main__content---------------

.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  &__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 125.714%;
    letter-spacing: -1.4px;
    text-transform: uppercase;

    @media (min-width: 1440px) {
      font-size: 60px;

      line-height: 120%;
      letter-spacing: -2.4px;
    }
  }

  &__text {
    color: #E7F7F8;

    font-weight: 400;
    line-height: 125%;

    opacity: 0.8;
  }
}

// ------input--------

.wrapper-input {
  display: flex;
  align-items: center;
  margin-top: 12px;
  padding: 4px;

  border-radius: 4px;
  overflow: hidden;
  background: #201A4F;

  @media (min-width: 1440px) {
    max-width: 500px;
  }
}

.hero__input {
  background: #201A4F;
  padding: 11px 4px 11px 12px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;

  color: var(--lite-text-color);

  &::placeholder {
    color: var(--lite-text-color);

    font-size: 14px;

    font-weight: 500;
    line-height: 142.857%;
    letter-spacing: -0.14px;
    text-transform: uppercase;

    opacity: 0.34;
  }

  &:focus~.wrapper-input__btn {
    border: 1px solid #57E1FF;
    background-color: #201A4F;
    color: #57E1FF;
  }

  @media (min-width: 1440px) {
    padding: 15px 4px 15px 16px;
  }
}

.wrapper-input__btn {
  color: #030718;

  transition: all 500ms ease-in-out;

  font-size: 14px;

  font-weight: 500;
  line-height: 142.857%;
  text-transform: uppercase;

  padding: 11px 24px;

  border-radius: 3px;
  border: 1px solid #57E1FF;
  background: #57E1FF;
  box-shadow: 0px 0px 4px 0px #57E1FF;

  @media (min-width: 1440px) {
    padding: 16px 24px;
  }
}


.main-content__sub-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  opacity: 0.3;
}