.mob-menu {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  padding: 52px 16px 16px;
  z-index: 999;
}

.mob-menu_flex {
  background: #6A54FF;

  @media (min-width: 615px) {
    width: 50vw;
  }
}

.mob-menu-list__wrapper {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  height: calc(100dvh - 68px);
}

.mob-menu__btn {
  padding: 0;
  line-height: 0;
}

.mob-menu__icon {
  display: flex;
  margin-left: auto;
  background-color: transparent;
  margin-left: 12px;

  @media (min-width: 768px) {
    width: 64px;
  }
}

.mob-menu__btn_open {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;

  border: none;
  margin-left: auto;
  cursor: pointer;

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.mob-menu_container {
  position: relative;
}

.mob-menu__btn_close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  color: #212121;
  border: none;

  cursor: pointer;
}

.mob-menu-list__item:first-child {
  margin-top: 32px;
}


.mob-menu-list__item {
  margin-bottom: 32px;
}

.mob-menu-list__link {
  font-size: 24px;
  line-height: 125%;
  text-transform: uppercase;
}

// ----mob-menu-btn__down----

.down-btn {
  display: flex;
  margin-top: auto;
  column-gap: 16px;
  padding-bottom: 10px;

  &__log-out {
    color: #030718;

    font-weight: 500;
    line-height: 125%;
    text-transform: uppercase;

    padding: 16px 24px;
    width: 163px;

    border-radius: 3px;
    background: #57E1FF;
    box-shadow: 0px 0px 4px 0px #57E1FF;
  }

  &__sign-up {
    color: #57E1FF;
    font-weight: 500;
    line-height: 125%;
    text-transform: uppercase;

    padding: 16px 24px;
    width: 163px;

    border-radius: 3px;
    border: 2px solid #57E1FF;
    background: rgba(87, 225, 255, 0.20);
    box-shadow: 0px 0px 4px 0px #57E1FF;
  }
}


// -----is-hidden---------------

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}