.deals {
  background-color: var(--black-background-color);

  padding-top: 48px;
  padding-bottom: 77px;

  clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 67% 100%, 61% 96%, 0 96%, 0 0);

  @media (min-width: 768px) {
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 40% 100%, 36% 92%, 0 92%, 0 0);
  }

  @media (min-width: 1440px) {
    padding-top: 96px;
    padding-bottom: 178px;
  }
}

.deals__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 128%;

  letter-spacing: -1.12px;
  text-transform: uppercase;

  @media (min-width: 1440px) {
    font-size: 44px;
    letter-spacing: 1px;
  }
}

.deals__online {
  position: relative;
  color: #35FF9E;

  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: -0.56px;

  padding-left: 11px;
  margin-bottom: 24px;

  &::before {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;

    top: 50%;
    left: 0;

    transform: translateY(-50%);

    background-color: #35FF9E;
    border-radius: 50%;
  }

  @media (min-width: 1440px) {
    margin-bottom: 72px;
  }
}

// ----card-list-------------

.deals__card-item {
  width: 299px;
  height: 208px;

  padding: 16px 16px 13px;

  background-color: #6A54FF;
  background-image: url(../images/icon/icon-deals.png);
  background-repeat: no-repeat;
  background-position: 100% 45%;

  border-radius: 4px;
  clip-path: polygon(81% 0, 100% 26%, 100% 100%, 0 99%, 0 0);
}