.FAQ {
  color: #030718;

  padding: 56px 0;

  @media (min-width: 1440px) {
    padding: 96px;
  }
}

.contrnt-wrap {
  margin: 0 auto;
  max-width: 846px;
}

.FAQ__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 128.571%;
  letter-spacing: -1.12px;

  text-transform: uppercase;

  margin-bottom: 40px;
}

// -----accordion-------

.box {
  position: relative;
  margin-bottom: 12px;

  border-radius: 4px;
  background-color: #EAEFF0;

  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  position: relative;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  &>svg {
    transition: all 300ms ease-in-out;
  }
}

.content {
  position: relative;

  font-weight: 400;
  line-height: 125%;

  overflow: hidden;
  max-height: 0;

  transition: all 300ms ease-in-out;
}

.content__text {
  padding: 0px 16px 16px 16px;
}

.active>.label {
  color: #FFF;
  font-size: 20px;
  line-height: 140%;

  letter-spacing: -0.8px;
  background: #6A54FF;

  &>svg {
    transform: rotate(180deg);
  }

  &~.content {
    color: var(--white, #FFF);
    background: #6A54FF;

    font-weight: 400;
    line-height: 125%;

    &>p {
      opacity: 0.8;
    }
  }
}