.tariffs {
  background-color: var(--black-background-color);

  padding: 175px 0 44px 0;

  @media (min-width: 1440px) {
    padding: 96px 0;
  }
}

.tariffs__container {
  max-width: 864px;
}

.tariffs__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 128.571%;
  letter-spacing: -1.12px;

  text-transform: uppercase;

  margin-bottom: 24px;

  @media (min-width: 1440px) {
    margin-bottom: 40px;

    font-size: 44px;
    line-height: 127.273%;
    letter-spacing: -1.76px;
  }
}

.tariffs__btn-box {
  @include flex;
  column-gap: 4px;
  max-width: 413px;

  border-radius: 4px;
  background: #6A54FF;

  padding: 4px;
  margin-bottom: 24px;

  @media (min-width: 1440px) {
    margin-bottom: 44px;
  }
}

.tariffs__btn {
  flex-basis: 50%;

  padding: 10px;

  text-transform: uppercase;
  letter-spacing: -0.72px;
  font-size: 18px;
  line-height: 133.333%;
  border-radius: 4px;

  background-color: transparent;
  color: #57E1FF;

  transition: all 250ms ease-in-out;
}

.tariffs__btn--active {
  background-color: #57E1FF;
  color: var(--black-background-color);

  font-weight: 700;
}

// ---tariffs-card----

.tariffs__card-box {
  display: grid;
  gap: 20px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tariffs-card__wrap {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid #6A54FF;

  padding: 16px;

  overflow: hidden;

  @media (min-width: 1440px) {
    padding: 24px;
  }
}

.tariffs-card__title {
  font-size: 20px;

  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.8px;

  margin-bottom: 24px;

  @media (min-width: 1440px) {
    font-size: 32px;
    margin-bottom: 56px;
  }
}

.tariffs-card__list {
  display: flex;
  flex-direction: column;

  row-gap: 16px;

  margin-bottom: 32px;

  @media (min-width: 1440px) {
    margin-bottom: 40px;
  }
}

.tariffs-card__item {
  position: relative;

  padding-left: 36px;

  &::before {
    content: '';
    position: absolute;

    top: 5px;
    left: 0;

    width: 12px;
    height: 12px;

    background-image: url(../images/icon/icon-ok.svg);
  }

  &::after {
    content: '';
    position: absolute;

    bottom: -10px;
    left: -20px;

    border-bottom: 1px dashed #ffffff;
    width: 200%;

    opacity: 0.2;
  }
}

.tariffs-card__text {
  font-weight: 400;
  line-height: 125%;
}

// ---tariffs-card__price--

.tariffs-card__price {
  @include flex;
  justify-content: space-between;

  margin-top: auto;
  margin-bottom: 24px;
}

.card-price__number {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 35px;
  line-height: 114.286%;
  letter-spacing: -1.4px;

  &>sup {
    color: #35FF9E;
    letter-spacing: -0.72px;
    font-size: 18px;
    line-height: 111.111%;
  }
}

.card-price__btn-wrap {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.20);

  padding: 7px 5px 7px 8px;
}

.card-price__btn {
  display: flex;
  column-gap: 4px;
  font-weight: 400;
  line-height: 125%;


  &>span {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
  }
}

// ---tariffs-card__btn---
.tariffs-card__btn {
  display: flex;
  width: 100%;

  padding: 8px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border-radius: 3px;
  background: #57E1FF;
  box-shadow: 0px 0px 4px 0px #57E1FF;

  color: #030718;
}

.tariffs-card__btn-title {
  font-style: normal;
  font-weight: 500;
  line-height: 125%;

  text-transform: uppercase;
}

.tariffs-card__btn-sub-title {
  opacity: 0.56;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.333%;
}

// --tariffs-card__wrap-accent ---

.tariffs-card__wrap-accent {
  background: #6A54FF;
}